
#modal-container {
  display: none;
}
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* to center the modal */
  display: grid;
  text-align: center;
}


.stylez {
  background-color: red;
  border: none;
  color: white;
  padding: 20x 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.8s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

body{
font-family: 'Courier New', Courier, monospace;
font-size: 10px;

}




.modal{

  /*display:none */

  position:fixed;
  z-index:1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
background-color: #f4f4f4;
margin:30% auto;
padding:20px;
width:90%;


}

.close-Btn{
color:#ccc;
float: right;
font-size: 40px;


}

.closeBtn:hover{

  color:black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  text-align: center;
  align-items: center;
  margin-top: 5rem;
}